# Build-Ordner
build/
build-tests/

# Mac OS Systemdateien
.DS_Store

# Qt Creator
*.user
.qtcreator/

# Qt / CMake user files
CMakeLists.txt.user
*.user

# CMake Cache und temporäre Dateien
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

